<!doctype html>
<html>
  <head>
    <title>Socket.io</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
  </head>
  <body>
    
    <script>
      $(document).ready(function() {
        
      });
    </script>
    <script src="chatFunctions.js"></script>
    
    <h1>InfiniChat</h1>
    <div>
      <button id="roomOne">Room One</button>
      <button id="roomTwo">Room Two</button>
      <button id="roomThree">Room Three</button>
      <button id="roomFour">Room Four</button>
      <br>
      <p id="roomMessage"></p>
      <p id="newUserMessage"></p>
    </div>
    <p>Username: <input id="txtUsername" type="text"/></p>
    <button id="btnChangeUsername">Change Username</button>
    <div id="chatroom">
      
    </div>
    <input id="txtMessage" placeholder="Input Message"/>
    <button id="btnSendMessage">Send</button>
  </body>
</html>
